<div class="uk-grid-collapse uk-child-width-expand@m uk-inline" uk-grid>
    <div>
        <img src="images/comeraghs1800x1000.jpg" alt="">
        <div class="uk-overlay uk-overlay-default uk-position-cover">
            <div class="uk-container uk-margin">
                <div class="uk-child-width-expand  uk-flex-middle uk-text-center" uk-grid>
                    <div>
                        <div class="uk-card uk-card-default uk-card-body uk-box-shadow-large">
                            <h3 class="uk-card-title uk-text-center">Please enter details below</h3>
                            <form action="/addpoi" method="POST">
                                <div class="uk-margin uk-text-left">
                                    <label class="uk-form-label" for="form-stacked-text">Name of Point of Interest</label>
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                                        <input class="uk-input uk-form-large" type="text" name="name"/>
                                    </div>
                                </div>
                                <div class="uk-margin uk-text-left">
                                    <label class="uk-form-label" for="form-stacked-text">Category</label>
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon" uk-icon="icon: user"></span>
                                        <input class="uk-input uk-form-large" type="text" name="category"/>
                                    </div>
                                </div>
                                <div class="uk-margin uk-text-left">
                                    <label class="uk-form-label" for="form-stacked-text">Description</label>
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon" uk-icon="icon: comment"></span>
                                        <input class="uk-input uk-form-large" type="text" name="description"/>
                                    </div>
                                </div>
                                <div class="uk-margin uk-text-left">
                                    <label class="uk-form-label" for="form-stacked-text">Latitude</label>
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon" uk-icon="icon: location"></span>
                                        <input class="uk-input uk-form-large" type="text" name="latitude"/>
                                    </div>
                                </div>
                                <div class="uk-margin uk-text-left">
                                    <label class="uk-form-label" for="form-stacked-text">Longitude</label>
                                    <div class="uk-inline uk-width-1-1">
                                        <span class="uk-form-icon" uk-icon="icon: location"></span>
                                        <input class="uk-input uk-form-large" type="text" name="longitude"/>
                                    </div>
                                </div>
                                <div class="uk-margin">
                                    <button class="uk-button uk-button-primary uk-button-large uk-width-1-1">Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
