<div class="uk-panel uk-background-secondary uk-light uk-width-expand@s uk-text-left uk-padding-medium">
    <div class="uk-margin-left uk-margin-top uk-h2">
        <div class="title">{{title}}</div>
    </div>
    <div class=" uk-margin-left uk-padding-top uk-text-left uk-text-small">
        <div class="subTitle">{{subTitle}}</div>
        <br>
    </div>
</div>