<div class="uk-flex uk-flex-center uk-flex-middle uk-grid-small" uk-grid>
    {{> title-panel title="Waterford Walks." subTitle="Add a Point of Interest" }}
    {{> main-menu }}
</div>

<div class="uk-grid-collapse uk-child-width-expand@m uk-inline" uk-grid>
    <div>
        <img src="images/comeraghs1800x1000.jpg" alt="">
        <div class="uk-overlay uk-overlay-default uk-position-cover">
            <div class="uk-container uk-margin">
                <div class="uk-child-width-expand  uk-flex-middle uk-text-center" uk-grid>
                    <div class="uk-width-expand@m">{{> addpoi }}</div>
                </div>
            </div>
        </div>
    </div>
</div>


